<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.practice.ningbao.mapper.product.ProductIntroductionContentMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.practice.ningbao.entity.product.ProductIntroductionContentEntity">
        <id column="content_id" property="contentId" />
        <result column="content" property="content" />
        <result column="owned_directory" property="ownedDirectory" />
        <result column="version" property="version" />
        <result column="is_delete" property="isDelete" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_update" property="gmtUpdate" />
    </resultMap>

</mapper>
