<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.practice.ningbao.mapper.website.CarouselNewsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.practice.ningbao.entity.website.CarouselNewsEntity">
        <id column="news_id" property="newsId" />
        <result column="news_link" property="newsLink" />
    </resultMap>

    <select id="getVo" resultType="com.practice.ningbao.vo.NewsLeaderboardVo">
        select ns.news_id, ns.title
        from news as ns
                 inner join carousel_news as nl on ns.news_id = nl.news_id
    </select>

</mapper>
