<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.practice.ningbao.mapper.news.NewsLeaderboardMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.practice.ningbao.entity.news.NewsLeaderboardEntity">
        <id column="news_id" property="newsId"/>
    </resultMap>

    <select id="getVo" resultType="com.practice.ningbao.vo.NewsLeaderboardVo">
        select ns.news_id, ns.title
        from news as ns
                 inner join news_leaderboard as nl on ns.news_id = nl.news_id
    </select>
</mapper>
